* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  scrollbar-width: none;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 3px solid white;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  margin-bottom: -45px;
  margin-top: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  animation: pulse-border 0.5s ease-in-out infinite alternate;
}

@keyframes pulse-border {
  from {
    border-color: rgb(219, 219, 219);
    box-shadow: 0 0 10px rgb(219, 219, 219);
  }

  to {
    border-color: rgb(204, 23, 23);
    box-shadow: 0 0 20px rgb(204, 23, 23);
  }
}

input,
button {
  margin-top: 60px;
  margin-right: 10px;
}

button {
  width: 70px;
  height: 25px;
  font-size: 15px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  -moz-user-select: none;
  user-select: none;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1.0);
}

ul {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

li {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  margin-top: 20px;
  background-color: gray;
  border: 3px solid rgb(83, 83, 83);
  border-radius: 5px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
  -moz-user-select: none;
  user-select: none;
}

input {
  padding-left: 6px;
  height: 25px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.3s;
}

li::selection {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

input:focus {
  box-shadow: 0 0 10px white;
  border-color: white;
}

input::placeholder {
  letter-spacing: 0px;
  user-select: none;
  -moz-user-select: none;
}

.counter {
  font-family: monospace;
  font-size: 15px;
  margin-top: 55px;
  margin-bottom: -45px;
  user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.warning {
  margin-top: -90px;
  margin-bottom: 19px;
  color: white;
  background-color: black;
  padding: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 8px;
  -moz-user-select: none;
  user-select: none;
}

span {
  color: white;
  font-weight: bold;
  font-size: 16px;
  -moz-user-select: none;
  user-select: none;
}